@import 'https://cdn.rawgit.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.fullHeight {
  min-height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}